.footer {
    padding: 20px 10 px 10 px 10 px;
    background-color: aquamarine;
    border-top: 1px solid #6a6a6a;
    display: flex;
}

.footer div {
    flex : 1;
}

footer label {
    width: 80px;
}